<html lang="en">


<%- include('./partials/head.ejs') %>


<body>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blog</h2>

        <%    if(blog != null){ %>

    

        <h3 class="blog-title"><%=blog.title %></h3>
        <p class="blog-snippet"><%=blog.snippet %></p>
        <p class="blog-body"><%=blog.body %></p> 
        <hr>
   
        <% } else { %>
        <p>Empty Blog</p>
        <% }%>


    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>